<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- konfigurasi custom section -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="Log4NetAppender" type="WindowsServiceGammu.Repository.Log4NetAppender, WindowsServiceGammu.Repository"/>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="Log4NetAppender"/>
    </root>
  </log4net>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />

      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <add key="server" value="localhost"/>
    <add key="dbName" value="db_gammu"/>
    <add key="dbUser" value="root"/>
    <add key="dbUserPass" value="rahasia"/>
  </appSettings>
</configuration>